# --- {{ vendor.name }} - Address mapping --- #
{% if vendor.regex_map.address_mapping is iterable and vendor.regex_map.address_mapping is not string %}
    {% for pattern in vendor.regex_map.address_mapping %}
        {% if pattern != '' %}
filter f_{{ vendor.name }}_address_mapping_{{ loop.index0 }} {
    match('{{ pattern }}' value("MESSAGE"));
};

log {
    source(s_net);
    filter(f_{{ vendor.name }}_address_mapping_{{ loop.index0 }});
    rewrite(r_cgn_eventv1);
    destination(d_kafka_{{ vendor.name }});
};
        {% endif %}
    {% endfor %}
    {% else %}
        {% if vendor.regex_map.address_mapping != '' %}
filter f_{{ vendor.name }}_address_mapping {
    match('{{ vendor.regex_map.address_mapping }}' value("MESSAGE"));
};

log {
    source(s_net);
    filter(f_{{ vendor.name }}_address_mapping);
    rewrite(r_cgn_eventv1);
    destination(d_kafka_{{ vendor.name }});
};
        {% endif %}
    {% endif %}
# --- {{ vendor.name }} - Address mapping --- #